<a href="https://colab.research.google.com/github/rajanshu9/IBM-data-science/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**


*   Popular data science languages
*   Commonly data science libraries
*   Popular data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3.Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scipy

| Data Science tools|
| ------- |
| Jypyter Notebook |
| R Studio |
| Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author ##
Anshu